<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>보드등록</h2>
	<form method="post" name="frm">
		작성자<input name="writer">
		<br>제목<input name="title">
		<br>내용<textarea name="content" ></textarea>
		<br>이미지<input type="file" name="image">
		<br><button type="button" id="saveBtn">등록</button>
	</form>
	<script>
	
		saveBtn.addEventListener("click", e=> {
			saveReq();
		})
		// 등록 요청
		function saveReq() {
			const writer=frm.writer.value;
			const title=frm.title.value;
			const content=frm.content.value;
			const image=frm.image.value;
			let param = {writer, title, content, image }
			fetch("/ajax/board",{
				method : "post",
				headers: {
				      "Content-Type": "application/json",
				    },
				body : JSON.stringify(param)
			})
			.then(res => res.json())
			.then(res => saveRes(res))
		}
	
		// 등록 응답
		function saveRes(res) {
			location.href= "/board/list"
		}
	</script>
</body>

</html>