
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
	<h2>보드목록</h2><button th:onclick="|location.href='@{/board/insert}'|">보드등록</button>
	<table>
		<thead>
		<tr>
			<th>번호</th>
			<th>작성자</th>
			<th>제목</th>
			<th>내용</th>
			<th>작성일</th>
			<th>조회수</th>
			<th>이미지</th>
			<th></th>
		</tr>
		</thead>
		<tbody id="boardList">

		</tbody>
	</table>
	<div id="nav"></div>
	<script>
	
	listReq(1);
	
	// 리스트 요청
	function listReq(p) {
		const param = "?page=" + p;
		fetch("/ajax/boardList" + param)
		.then(res => res.json())
		.then(res => listRes(res))
		
		// 비동기
		// axios.get("/ajax/empList" + param)
		// .then(res => listRes(res.data))
		
		// 동기식
		//const res = await axios.get("/ajax/empList" + param);
		//listRes(res.data);
	}

	// 리스트 응답
	function listRes(res) {
		boardList.innerHTML = '';
		nav.innerHTML = '';
		// 목록출력
		for( obj of res.data ) {
			boardList.innerHTML += makeTr(obj);
		}
		// 페이징처리
		nav.innerHTML += makePage(res.paging);
	}

	// 페이징생성
	function makePage(paging) {
		let tag = `<nav aria-label="...">
			  <ul class="pagination">`
		// 이전버튼
		if(paging.startPage > 1) {
		  tag += `<li class="page-item">
		        <a class="page-link" href="javascript:gopage(${paging.startPage-1})">Previous</a></li>`
		}
		// 페이지번호
		for(i = paging.startPage; i<=paging.endPage; i++) {
			tag += `<li class="page-item">
		        <a class="page-link" href="javascript:gopage(${i})">${i}</a></li>`
		}
		// 다음버튼
		if(paging.endPage <= paging.lastPage) {
			tag += `<li class="page-item">
		        <a class="page-link" href="javascript:gopage(${paging.endPage+1})">Next</a></li>`
		}
		
		tag += ` </ul>
			</nav>`
			
		return tag;
	}

	// tr생성
	function makeTr(obj) {
		if(obj.image == null){
			obj.image = "없음";
		}
		let newTag = `<tr>
			<td><a href="info/${obj.boardNo}">${obj.boardNo}</a></td>
			<td>${obj.writer}</td>
			<td>${obj.title}</td>
			<td>${obj.content}</td>
			<td>${obj.writerDate}</td>
			<td>${obj.clickCnt}</td>
			<td>${obj.image}</td>
			<td><button type="button" onclick="modPage(${obj.boardNo})">수정</button></td>
		</tr>`
		return newTag;
	}
	
	function gopage(p) {
		listReq(p);
	}
	
	function modPage(bno) {
		location.href= "/board/update/"+ bno;
	}
	
	function modReq() {
		let param = boardNumber.innerText;
		console.log(param);
		fetch("/ajax/update",{
			method : "post",
			headers: {
			      "Content-Type": "application/json",
			    },
			body : JSON.stringify(param)
		})
		.then(res => modRes(res))
	}
	function modRes(res) {
		
	}
	
	</script>
	</div>
</body>
</html>
