<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table{
    border: 1px solid black;
    text-align: center;
}
</style>
<script>
let boardlist = [[${boardList}]]

function gopage(p){
	
	location.href = 'boardList?page=' + p
}
</script>
</head>
<body>
	<h2>boardList</h2>
	<table>
		<tr>
			<th>boardNo</th>
			<th>title</th>
			<th>content</th>
			<th>writer</th>
			<th>writeDate</th>
			<th>clickCnt</th>
			<th>image</th>
		</tr>
		<tr class="frmSearch" th:each="list : ${boardList}" th:onclick="|location.href='@{/board/info/{boardNo}(boardNo=${list.boardNo})}'|">
			<td th:text="${list.boardNo}"></td>
			<td th:text="${list.title}"></td>
			<td th:text="${list.content}"></td>
			<td th:text="${list.writer}"></td>
			<td th:text="${list.writeDate}"></td>
			<td th:text="${list.clickCnt}"></td>
			<td th:text="${list.image}"></td>
		</tr>
		<tr>
			<td><a th:href="@{/board/insert}">등록페이지 이동</a></td>
		</tr>
	</table>
	
	<!-- 페이징 시작--> <!-- disabled : 비활성화 -->
	<!--  <nav aria-label="...">
	  <ul class="pagination">
	    <li class="page-item" th:if="${paging.startPage} > 1">
	        <a class="page-link" th:href="|javascript:gopage(${paging.startPage-1})|">Previous</a></li>

	    <li th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}" 
	        class="page-item" 
	        th:addclass="${num} == ${paging.page} ? active">
	        <a class="page-link" th:href="|javascript:gopage(${num})|"  th:text="${num}">2</a></li>
	    
	    <li class="page-item" th:classappend="${paging.endPage} <= ${paging.lastPage} ? disabled">
	        <a class="page-link" th:href="|javascript:gopage(${paging.endPage+1})|">Next</a></li>
	  </ul>
	</nav>
	<!-- 페이징 종료 -->-->
</body>
</html>